*{
    margin: 0%;
    
}
:root{
    overflow-x: hidden;
    --color-logo:#005051;
}

.addCart{
    margin-right: 35px;
    font-size: 40px;
}
.addCart:hover{
    color: #4e7005;
    cursor: pointer;
}
.deleteCart:hover{
    color: #a35c20;
    cursor: pointer;
}
.deleteCart{
    font-size: 46px;
    color: red;
    margin-top: 2px;
}
.deleteCartButton,
.addCartButton{
    font-size: 30px;
    color: white;
    position: absolute;
}
.addCartButton{
    left: 13%;
    top: 32%;
}
.deleteCartButton{
    left: 76%;
    top: 24%;
}
.addCartButton:hover,
.deleteCartButton:hover{
    cursor: pointer;
}
